*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 5px;
 
 
}
 
.box{
 width: 60px;
 height:60px;
 padding: 20px;
 border-radius: 9px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color:tomato;
 color: white;
 text-align: center;
 justify-content: center;
 margin: 5px;
}
h3{
 color: blue;
}
#box3{
    background-color: red;
}
#box1{
 background-color: orange;
}
#box2{
 background-color: green;
}
#box4{
 background-color: palegoldenrod;
}
#box5{
 background-color: turquoise;
}
#box6{
 background-color: hotpink;
}