.container{
    width: 960px;
    height: 300px;
    border: 2px solid black;
    display: flex;

    
}
.box1{
    display: flex;
    width: 300px;
    height: 300px;
border: 1px solid black;

}
.box2{
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    border: 1px solid black;
}
.box3{
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
}

img{
    width: 100%;
    height: 100%;
}